footer
    position: relative
    min-height: 95px
    line-height: 66px
    font:
        size: 14px
        weight: normal
    .orange-bar
        position: relative
        width: 100%
        height: 30px
        background: $orange
        display: block
    a 
        color: $orange
        &:hover
                color: $orange
    @include breakpoint(mobile)
        line-height: inherit
        text-align: center
        .orange-bar
            margin-bottom: 20px