header
    position: relative
    display: block 
    
    .gray-bar
        color: #fff
        background: $gray
        display: block
        position: relative
        height: 30px
        line-height: 30px
        a 
            display: inline-block
            margin: 
                left: 5px 
                right: 5px
            color: #fff
    .orange-bar
        background: $orange
        min-height: 60px
        padding: 
            top: 10px
            bottom: 10px
        
        .title-section
            float: left
            font:
                size: 12px
            color: #fff
            line-height: 49px
            height: 49px
            margin-right: 25px
            @include breakpoint(mobile)
                width: 100%
                text-align: center
                margin: 0
        .profile-header
            float: left
            height: 49px
            .cerrar
                float: left
                font:
                    size: 12px
                color: #fff
                line-height: 49px
                height: inherit
            .profile-pic
                float: left
                margin-left: 35px
                img 
                    display: block
                    margin: 0 auto
            @include breakpoint(mobile)
                width: 100%
                .cerrar
                    width: 50%
                .profile-pic
                    width: 50%
                    margin: 0
        @include breakpoint(mobile)
            img
                margin: 0 auto
            text-align: center
            button
                margin:
                    top: 0
                    bottom: 0
                span
                    background: #fff
            .navbar-collapse
                box-shadow: none
