body
    margin: 0px
    padding: 0px
    display: block
    width: 100%
    background: #fff
    font-size: $browser-context + px
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    font-family: $regular
    color: #000000
    position: relative
.clear 
    display: block
    width: 100%
    clear: both
    margin: 0px
    padding: 0px
a
    color: inherit
    &:hover, &:focus
        color: inherit
.block
    float: left
    width: 100%
    display: block
    position: relative
input, select
    border-radius: 0!important
.form-group
    margin-bottom: 9px!important

h1 
    font:
        size: 29px
        weight: 900
        family: $titles
    margin:
        top: 0
        bottom: 40px
.btn-type-orange
    background: $orange
    height: 46px
    max-width: 225px
    border: solid 1px $orange
    margin: 0 auto
    color: #fff
    font:
        size: 27px
        weight: normal
    line-height: 46px
    border-radius: 30px
    overflow: hidden
    padding: 0
    text-align: center
    display: block
    width: 100%
    transition: background 0.25s linear
    &:hover
        background: #fff
        color: $orange
.btn-type-purple
    background: $purple
    height: 40px
    max-width: 170px
    border: solid 1px $purple
    margin: 0 auto
    color: #fff
    font:
        size: 20px
        weight: normal
    line-height: 40px
    border-radius: 10px
    overflow: hidden
    padding: 0
    text-align: center
    display: block
    width: 100%
    transition: background 0.25s linear
    &:hover
        background: #fff
        color: $purple