@import '../css/fonts/fonts.css'
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'
@import variables
@import functions
@import partials


@import header
@import footer
@import home

div.home
    position: relative
    min-height: 760px
    @include breakpoint(mobile)
        min-height: inherit!important
    .container
        position: relative
        height: inherit
        @include breakpoint(mobile)
            padding: 0
        
    .content
        position: absolute
        margin: auto
        left: 0
        right: 0
        top: 0
        bottom: 0
        max-height: 70%
        @include breakpoint(mobile)
            position: relative
            padding: 0
            margin:
                top: 40px
                bottom: 40px
            h1 
                font-size: 21px
                text-align: center
                a 
                    display: block
                    position: relative
                    width: 100%
            

    .formulario
        border: solid 1px #cfcfcf
        box-shadow: 0px 6px 15px rgba(0,0,0,0.5)
        border-radius: 5px
        padding: 0px 95px
        margin-bottom: 45px
        @include breakpoint(mobile)
            padding: 0 30px
        label 
            font:
                size: 20px
                weight: 400
            margin-top: 51px
        input
            font:
                size: 20px
                weight: 400
            border: none
            border-bottom: solid 2px $orange
            padding: 0
            box-shadow: none
        .btn-type-orange
            margin:
                top: 30px
                bottom: 30px
    .verification
        a 
            color: $orange
            &:hover
                color: $orange
        @include breakpoint(mobile)
            text-align: center
            padding: 0
            a 
                display: block
.referidos
    .banner-top
        /*height: 206px*/
        position: relative
        display: block
        background: #620102
            /*image: url('../assets/fondo.jpg')*/
            /*repeat: no-repeat*/
            /*size: cover*/
            /*position: center center*/
        padding: 
            top: 0px
            bottom: 0px
        margin-bottom: 70px
        img
            width: 100%
        .visible-xs
            .carousel-cell
                .row
                    position: relative
                    width: 100%
                    margin: 0
                    height: inherit
                img
                    margin: auto
                    left: 0
                    right: 0
                    top: 0
                    bottom: 0
                    position: relative
                    display: block
    .banner-referidos
        overflow: hidden
        position: relative
        margin-bottom: 70px
        img
            width: 100%
            position: relative
            left: 0
            right: 0
            top: 0 
            bottom: 0
            margin: auto
    .add-referral
        .btn-type-purple
            position: relative
            border: none
            overflow: visible
            width: 184px
            text-align: left
            max-width: 100%
            padding-left: 15px
            font-size: 20px
            &:after
                display: block
                position: absolute
                margin: auto
                top: 0
                bottom: 0
                right: -70px
                width: 86px
                height: 86px
                content: ''
                background:
                    image: url(../assets/plus-one.png)
                    size: contain
                    position: center center
                    repeat: no-repeat
                @include breakpoint(mobile)
                    width: 70px
                    height: 70px
                    right: -55px
    .tabla
        margin-bottom: 70px
        .fila
            padding:
                top: 20px
                bottom: 20px
            .lista
                height: 104px
                line-height: 104px
                text-align: right
                font:
                    size: 44px
                    weight: bold
                    family: $regular
                color: $orange
                margin: 0
                @include breakpoint(tablet)
                    line-height: 202px
                    height: 202px
                    margin: 0 -15px
                    text-align: center
            .profile-large
                width: 100%
                position: relative
                img
                    margin: 0 auto
                    position: relative
                    display: block
            .nombre
                height: 104px
                line-height: 1.5
                padding-top: 20px
                font:
                    size: 25px
                    weight: bold
                margin: 0
                padding-left: 25px
                @include breakpoint(tablet)
                    line-height: inherit
                    height: auto
                    padding: 0 
                    text-align: center
            .num-referidos
                height: 104px
                line-height: 104px
                font:
                    size: 19px
                    weight: normal
                margin: 0
                @include breakpoint(tablet)
                    line-height: inherit
                    height: auto
                    text-align: center
        &.admin
            float: left
            width: 100%
            display: block
            position: relative
            clear: both
            margin:
                top: 50px
                left: 0
                right: 0
            @include breakpoint(mobile)
                margin-top: 15px
            .fila
                border-bottom: solid 2px #dcdcdc
                .btn-type-orange
                    max-width: 128px
                    height: 40px
                    border-radius: 10px
                    font-size: 20px
                    margin: inherit
                    line-height: 40px
                    display: inline-block
                    margin-right: 25px
                    @include breakpoint(mobile)
                        display: block
                        margin-bottom: 15px
                        max-width: 100%
                .btn-type-purple
                    margin: inherit
                    display: inline-block
                    @include breakpoint(mobile)
                        display: block
                        margin-bottom: 15px
                        max-width: 100%
                h2
                    margin: 0 
                    font:
                        size: 21px
                        weight: normal
                    height: 40px
                    line-height: 40px
                    @include breakpoint(mobile)
                        text-align: center
                        margin-bottom: 25px
                        margin-top: 15px
    .after-table
        display: block
        clear: both
        float: left
        width: 100%
        position: relative
        margin:
            top: 50px
            bottom: 85px
            left: 0
            right: 0
        img
            position: relative
            margin: 0 auto
            display: block
    .container
        @include breakpoint(mobile)
            padding: 0
    .content
        a 
            font:
                weight: 900
                family: $titles
        @include breakpoint(mobile)
            padding: 0
            h1 
                font-size: 21px
                text-align: center
            a 
                display: block
                position: relative
                width: 100%